{% extends 'base.html' %}
{% load mptt_tags %}
{% block content %}
{% load cart %}
{% load custom_filter %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-3 mx-auto">

                <!-- <ul class="list-group">
                    {% recursetree categorys %}
                        <li><a href="/?category={{ categorys.id }}" class="list-group-item" href="">{{ node.name }}</a>
                        {% if not node.is_leaf_node %}
                            <ul class="list-group"> 
                                <li><a class="list-group-item " href="">{{ children }}</a></li>
                            </ul>
                        {% endif %}
                        </li>
                    {% endrecursetree %}
                </ul> -->
                <div class="list-group">
                    <a href="/" class="list-group-item list-group-item-action">All</a>
                    {% for category in categorys %}
                    <a href="/?category={{ category.id }}" class="list-group-item list-group-item-action">
                        {{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>

        <div id="products" class="col-lg-9 mx-auto">
            <div class="row">
                {% for product in products %}
                    <div class="card" id={{product.id}} style="width: 18rem;">
                        <img height="300" src="{{ product.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body"> 
                            <h6 class="card-title">{{ product.name }}</h6>
                            <p class="card-text">{{ product.category.parent }} > {{ product.category }}</p>
                            <p class="card-text">{{ product.price|currency }}</p>
                             
                        </div>
                        <div class="card-footer p-0">
                            {% if product|is_in_cart:request.session.cart %}
                            <div class="row no-gutters">
                                <form action="/#{{product.id}}" class="col-2" method="post">
                                    {% csrf_token %}
                                    <input hidden type="text" name="product" value="{{ product.id }}">
                                    <input hidden type="text" name="remove" value="True">
                                    <input type="submit" value="-" class="col-2  btn btn-block btn-info">
                                </form>
                                <div class="text-center col cart_quantity">{{ product|cart_quantity:request.session.cart }} in Cart</div>
                                <form action="/#{{product.id}}" class="col-2" method="post">
                                    {% csrf_token %}
                                    <input hidden type="text" name="product" value="{{ product.id }}">
                                    <input type="submit" value="+" class="col-2  btn btn-block btn-info">
                                </form>
                            </div>
                            {% else %}
                            <form action="/#{{product.id}}" method="POST" class="btn-block">
                                {% csrf_token %}
                                <input hidden type="text" name="product" value="{{ product.id }}">
                                <input type="submit" href="#" class="btn btn-light btn-sm btn-block py-2 add-to-cart" value="Add to Cart">
                            </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>    
    {% endblock %}
