{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<div class="container">
<div class="row">
  <div class="col-lg-offset-4"></div>
</div>
<div class="row">
  <div class="col-lg-offset-4"></div>
  <div class="col-lg-8 m-auto p-3">
    <img src="{{ request.user.customer.profile_pic.url }}" alt="">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
              <td>First Name</td>
              <td>{{ form.first_name }}</td>
            </tr>
            <tr>
              <td>Last Name</td>
              <td>{{ form.last_name }}</td>
            </tr>
            <tr>
            <tr style="display: none;">
              <td >Username</td>
              <td>{{ form.username }}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{ form.email }}</td>
            </tr>
            <tr>
              <td>Mobile</td>
              <td>{{ form.mobile }}</td>
            </tr>
            <tr>
              <td>Picture</td>
              <td>{{ form.profile_pic }}</td>
            </tr>
            <tr style="display: none;">
              <td>Password</td>
              <td>{{ form.password }}</td>
            </tr>
            <tr>
              <td>Gender</td>
              <td>{{ form.gender }}</td>
            </tr>
            <tr>
              <td>Bio</td>
              <td>{{ form.bio }}</td>
            </tr>
            <tr>
              <td>Birth Day</td>
              <td>{{ form.birth_day }}</td>
            </tr>
            </table>
            <button type="submit" href="{% url 'profile' %}" class="btn-info btn-block text-white py-2 pl-2 mb-4 h4 text-justify">
              Update Details
            </button>
    </form>
  </div>
</div>
</div>

{% endblock %}